../../.vscode/
max.sh
.vscode/settings.json
Homework/Week4/.~lock.Hw-4.docx#
Homework/Week4/Problem_1/a.out
Homework/Week4/Problem_2/a.out
Homework/Week4/Problem_3/a.out
Homework/Week5/Problem_3/a.out
Homework/Week5/Problem_3/a.out
Homework/Week5/Problem_3/a.out
Homework/Week5/Problem_1/a.out
/home/dinko/Documents/Strypes/Homework/Week5/Problem_1/a.out
Homework/Week6-7/Problem_1/a.out
